img {
    width: 100%;
    height: auto;
}

.outer-div {
    height: 100%;
    width: 100%;
    display: block;
}

// .inner-div {
//     height: 100%;
//     width: 100%;
//     display: flex;
//     justify-content: center;
// }

.image-container {
    position: relative;
    margin: 1%;
    height: 96%;
    aspect-ratio: 2505 / 2522;
}