<div class="head">
    <h1>海洋遥感与气象监测系统</h1>
    <p class="english-name">Marine Remote Sensing and</p>
    <p class="english-name">Meteorological Monitoring System</p>
    <p class="author">Seafog Lab</p>
</div>
<div class="controller">
    <div class="controller-content">
        <div class="controller-item date-selector">
          <p>选择日期：</p>
          <label>
            <select #selectYear (change)="onSelectYearChange(selectYear.value)">
              <option *ngFor="let year of years">
                  {{year}}
              </option>
            </select> 年
          </label>
          <label>
            <select #selectMonth (change)="onSelectMonthChange(selectMonth.value)">
                <option *ngFor="let month of monthes">
                    {{month}}
                </option>
            </select> 月
          </label>
          <label>
            <select #selectDay (change)="onSelectDayChange(selectDay.value)">
                <option *ngFor="let day of days">
                    {{day}}
                </option>
            </select> 日
          </label>
          <label>
            <select #selectHour (change)="onSelectHourChange(selectHour.value)">
                <option *ngFor="let hour of hours">
                    {{hour}}
                </option>
            </select> 小时
          </label>
        </div>
        <div class="controller-item">
          <span>选择产品：</span>
          <label>
            <input #value type="checkbox" (change)="onCLMChange(value.value)"> 云检测 CLM
          </label>
          <label>
            <input #value type="checkbox" (change)="onSFMChange(value.value)"> 海雾 SFM
          </label>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-copyright">
      <p class="p-footer">Copyright © 2024 <a class="a-footer" href="http://ranyz.seafog.syize.cn">海洋遥感与气象监测系统</a></p>
    </div>
    <div class="footer-author">
      <p class="p-footer">System Maintainer: Syize, Ranyz</p>
    </div>
</div>
