<div class="head">
    <h1>海雾监测与反演</h1>
    <p class="author">Seafog Lab</p>
</div>
<div class="controller">
    <div class="select-date">
        <select #selectYear (change)="onSelectYearChange(selectYear.value)">
            <option *ngFor="let year of years">
                {{year}}
            </option>
        </select>年
        <select #selectMonth (change)="onSelectMonthChange(selectMonth.value)">
            <option *ngFor="let month of monthes">
                {{month}}
            </option>
        </select>月
        <select #selectDay (change)="onSelectDayChange(selectDay.value)">
            <option *ngFor="let day of days">
                {{day}}
            </option>
        </select>日
    </div>
</div>
<div class="footer">
    <p>This is a footer.</p>
</div>