@mixin selectStyle() {
    height: 20px;
    border-radius: 5px;
}

@mixin selectHoverStyle() {
    @include selectStyle;
    box-shadow: rgb(14, 155, 221) 0px 0px 4px 1px;
    transition: box-shadow 0.3s;
}

@mixin disableSelection() {
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;
}

@mixin disableFocusOutline() {
    outline: none;
}

.head {
  padding: 16px;
  text-align: center;
}

.head h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 16px;
}

.english-name {
  margin: 0;
  font-size: large;
  font-weight: bold;
}

.controller {
  padding: 16px;
  padding-top: 0;
}

.controller-item {
  margin-bottom: .5em;
}

.controller-item p {
  margin: 0;
}

.controller-item label:not(:last-of-type) {
  margin-right: .5em;
}

.controller-item.date-selector label {
  margin-right: 0;
}

.footer {
  margin-top: auto;
  padding: 16px;
  text-align: center;
}

.footer p {
  margin: 0;
}

.p-text {
    display: inline;
    margin-left: 2px;
    margin-right: 5px;
}

.a-footer:link {
  color: rgb(61, 61, 61);
}

.a-footer:visited {
  color: rgb(61, 61, 61);
}

.a-footer:active {
  color: rgb(109, 109, 109);
}

select {
    @include selectStyle;
}

select:hover {
    @include selectHoverStyle;
}

select:active {
    @include selectStyle;
    @include disableFocusOutline;
}

select:focus {
    @include selectStyle;
    @include disableFocusOutline;
}

select input:focus {
    @include selectHoverStyle;
    @include disableFocusOutline;
}
