<div class="head">
    <h1>海洋遥感与气象监测系统</h1>
    <p class="english-name">Marine Remote Sensing and</p>
    <p class="english-name">Meteorological Monitoring System</p>
    <p class="author">Seafog Lab</p>
</div>
<div class="controller">
    <div class="controller-title">
        <div class="div-block">
            <p class="p-text">选择日期:</p>
        </div>
        <div class="div-block">
            <p class="p-text">选择产品:</p>
        </div>
    </div>
    <div class="controller-content">
        <div class="div-block">
            <mat-form-field>
                <mat-select placeholder="Year" (selectionChange)="onSelectYearChange($event.value)"
                    [(value)]="selectYear">
                    @for (year of years; track year) {
                    <mat-option [value]="year">
                        {{ year }}
                    </mat-option>
                    }
                </mat-select>
                <p class="p-text">年</p>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Month" (selectionChange)="onSelectMonthChange($event.value)"
                    [(value)]="selectMonth">
                    @for (month of monthes; track month) {
                    <mat-option [value]="month">
                        {{ month }}
                    </mat-option>
                    }
                </mat-select>
                <p class="p-text">月</p>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Day" (selectionChange)="onSelectDayChange($event.value)" [(value)]="selectDay">
                    @for (day of days; track day) {
                    <mat-option [value]="day">
                        {{ day }}
                    </mat-option>
                    }
                </mat-select>
                <p class="p-text">日</p>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Hour" (selectionChange)="onSelectHourChange($event.value)"
                    [(value)]="selectHour">
                    @for (hour of hours; track hour) {
                    <mat-option [value]="hour">
                        {{ hour }}
                    </mat-option>
                    }
                </mat-select>
                <p class="p-text">小时</p>
            </mat-form-field>
            <!-- <select #selectYear (change)="onSelectYearChange(selectYear.value)">
                <option *ngFor="let year of years">
                    {{year}}
                </option>
            </select> -->
            <!-- <p class="p-text">年</p>
            <select #selectMonth (change)="onSelectMonthChange(selectMonth.value)">
                <option *ngFor="let month of monthes">
                    {{month}}
                </option>
            </select>
            <p class="p-text">月</p>
            <select #selectDay (change)="onSelectDayChange(selectDay.value)">
                <option *ngFor="let day of days">
                    {{day}}
                </option>
            </select>
            <p class="p-text">日</p>
            <select #selectHour (change)="onSelectHourChange(selectHour.value)">
                <option *ngFor="let hour of hours">
                    {{hour}}
                </option>
            </select>
            <p class="p-text">小时</p> -->
        </div>
        <div class="div-block">
            <input #value type="checkbox" (change)="onCLMChange(value.value)">
            <p class="p-text">云检测 CLM</p>
        </div>
        <div class="div-block">
            <input #value type="checkbox" (change)="onSFMChange(value.value)">
            <p class="p-text">海雾 SFM</p>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-copyright">
        <div class="footer-block">
            <p class="p-footer">Copyright © 2024</p>
        </div>
        <div class="footer-block">
            <a class="a-footer" href="http://ranyz.seafog.syize.cn">海洋遥感与气象监测系统</a>
        </div>
    </div>
    <div class="footer-author">
        <div class="footer-block">
            <p class="p-footer">System Maintainer: Syize, Ranyz</p>
        </div>
    </div>
</div>